#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p A single tear rolled down the wrinkles of my face and left a darkened spot on the white pillow. Julia's, d Daniel's and Claudia's faces appeared in my mind. Their childish laughter, their tantrums, their teenage rebellions, their busy schedules, their promised visits, their small infant bodies in my arms, and now their own families...my grandchildren. There were multiple stains decorating the pillow now. Then his face appeared in my mind. Alan.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path
